#!/bin/bash

#
# This file is managed by Rev Puppet service as described on Wiki
# page https://revwiki.atlassian.net/wiki/display/OP/Puppet+Centralized+Configuration+Management+System
# Please don't modify the file on the Puppet client server since your changes will be overwritten on the next
# Puppet agent run on the server.
#

#
# UFW configuration script for ElasticSearch Aggregation servers 
#


UFW=/usr/sbin/ufw

if [ ! -x $UFW ]; then
	echo "FATAL: Cannot find UFW utility at $UFW - aboring."
	exit 1
fi

ufw disable

ufw reset

ufw logging off

ufw default deny incoming

ufw default allow outgoing

# Allow SSH access from MANAGER servers
{% for server in server_list -%}
{% if server.type == "MANAGER" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 22
{% endif -%}
{% endfor %}

# Allow SSH access from home IPs of Rev admins
{% for server in server_list -%}
{% if server.type == "HOMEIP" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 22
{% endif -%}
{% endfor %}

# Allow SSH access from BACKUP server
{% for server in server_list -%}
{% if server.type == "BACKUP" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 22
{% endif -%}
{% endfor %}

# Allow NRPE port only from monitoring servers
{% for server in server_list -%}
{% if server.type == "MONITOR" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 5666
{% endif -%}
{% endfor %}

# Allow SNMP port only from monitor servers
{% for server in server_list -%}
{% if server.type == "MONITOR" -%}
# Allow from {{ server.name }}
ufw allow proto udp from {{ server.IP }}/32 to any port 161
{% endif -%}
{% endfor %}

# Allow ElasticSearch 9300/TCP from all ES (non-aggregation) servers
{% for server in server_list -%}
{% if server.type == "ES" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 9300
{% endif -%}
{% endfor %}

# Allow ElasticSearch 9300/TCP from all ES Aggregation servers
{% for server in server_list -%}
{% if server.type == "ESAGG" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 9300
{% endif -%}
{% endfor %}


# Allow ElasticSearch 9300/TCP access from all MONITOR servers
{% for server in server_list -%}
{% if server.type == "MONITOR" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 9300
ufw allow proto tcp from {{ server.IP }}/32 to any port 9400
{% endif -%}
{% endfor %}

# Allow ElasticSearch HTTP 9200/TCP port from monitoring servers
{% for server in server_list -%}
{% if server.type == "MONITOR" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 9200
{% endif -%}
{% endfor %}

# Allow ElasticSearch HTTP 9200/TCP port from home IPs of Rev admins
{% for server in server_list -%}
{% if server.type == "HOMEIP" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 9200
{% endif -%}
{% endfor %}

# HACK: Allow ElasticSearch 9300/TCP access from IAD02 VPC block 172.31.0.0/16
ufw allow proto tcp from 172.31.0.0/16 to any port 9300

ufw enable
