#!/bin/bash
#
# This file is managed by Rev Puppet service as described on Wiki
# page https://revwiki.atlassian.net/wiki/display/OP/Puppet+Centralized+Configuration+Management+System
# Please don't modify the file on the Puppet client server since your changes will be overwritten on the next
# Puppet agent run on the server.
#

#
# UFW configuration script for CUBE servers 
#


UFW=/usr/sbin/ufw

if [ ! -x $UFW ]; then
	echo "FATAL: Cannot find UFW utility at $UFW - aboring."
	exit 1
fi

ufw disable

ufw reset

ufw logging off

ufw default deny incoming

ufw default allow outgoing

# Allow SSH access from MANAGER servers
{% for server in server_list -%}
{% if server.type == "MANAGER" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 22
{% endif -%}
{% endfor %}

# Allow SSH access from home IPs of Rev admins
{% for server in server_list -%}
{% if server.type == "HOMEIP" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 22
{% endif -%}
{% endfor %}

# Allow SSH access from BACKUP server
{% for server in server_list -%}
{% if server.type == "BACKUP" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 22
{% endif -%}
{% endfor %}

# Allow NRPE port only from monitoring servers
{% for server in server_list -%}
{% if server.type == "MONITOR" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 5666
{% endif -%}
{% endfor %}

# Allow SNMP port only from monitor servers
{% for server in server_list -%}
{% if server.type == "MONITOR" -%}
# Allow from {{ server.name }}
ufw allow proto udp from {{ server.IP }}/32 to any port 161
{% endif -%}
{% endfor %}

# Allow CUBE 1080/TCP port from RUM servers
{% for server in server_list -%}
{% if server.type == "RUM" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 1080
{% endif -%}
{% endfor %}

# Allow CUBE 1081/TCP port from PORTAL servers
{% for server in server_list -%}
{% if server.type == "PORTAL" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 1081
{% endif -%}
{% endfor %}

# Allow CUBE 1080/TCP and 1081/TCP ports from MONITOR servers
{% for server in server_list -%}
{% if server.type == "MONITOR" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 1080
ufw allow proto tcp from {{ server.IP }}/32 to any port 1081
{% endif -%}
{% endfor %}

# Open access to 1080/TCP and 1081/TCP from the VPC subnet 172.31.0.0/16 so ELB could monitor the CUBE services
ufw allow proto tcp from 172.31.0.0/16 to any port 1080:1081

ufw enable
