#!/bin/bash

#
# This file is managed by Rev Puppet service as described on Wiki
# page https://revwiki.atlassian.net/wiki/display/OP/Puppet+Centralized+Configuration+Management+System
# Please don't modify the file on the Puppet client server since your changes will be overwritten on the next
# Puppet agent run on the server.
#

#
# UFW configuration script for MONITOR servers 
#


UFW=/usr/sbin/ufw

if [ ! -x $UFW ]; then
	echo "FATAL: Cannot find UFW utility at $UFW - aboring."
	exit 1
fi

ufw disable

iptables -F
iptables -X

ufw reset

ufw logging off

ufw default deny incoming

ufw default allow outgoing

# Allow SSH access from MANAGER servers
{% for server in server_list -%}
{% if server.type == "MANAGER" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 22
{% endif -%}
{% endfor %}

# Allow SSH access from home IPs of Rev admins
{% for server in server_list -%}
{% if server.type == "HOMEIP" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 22
{% endif -%}
{% endfor %}

# Allow SSH from the DEV environment for software deployment
ufw allow proto tcp from 184.105.140.178/32 to any port 22

# Allow SSH access from BACKUP server
{% for server in server_list -%}
{% if server.type == "BACKUP" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 22
{% endif -%}
{% endfor %}

# Allow NRPE port only from monitoring servers
{% for server in server_list -%}
{% if server.type == "MONITOR" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 5666
{% endif -%}
{% endfor %}

# Allow SNMP port only from monitor servers
{% for server in server_list -%}
{% if server.type == "MONITOR" -%}
# Allow from {{ server.name }}
ufw allow proto udp from {{ server.IP }}/32 to any port 161
{% endif -%}
{% endfor %}

# Allow rsyslog from all rewsw servers
{% for server in server_list -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 5140
{% endfor %}

# Open Nagios API access from IAD02-MANAGER01
ufw allow proto tcp from 54.84.12.149/32 to any port 8081
# Open Nagios API access from TESTSJC20 environment
ufw allow proto tcp from 184.105.140.178/32 to any port 8081

# Open Nagios API access from home IPs
{% for server in server_list -%}
{% if server.type == "HOMEIP" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 8081
{% endif -%}
{% endfor %}

# Allow HTTP and HTTPS ports from everywhere
ufw allow 80/tcp
ufw allow 443/tcp

# A hack to add GRE firewall rules to iptables configuration before enabling the firewall
# sed -i -e s/'# End required lines'/'# End required lines\n\n# Added automatically by script configure_monitor_firewall.sh\n# Allow GRE protocol for VPN\n-A ufw-before-input -p 47 -j ACCEPT\n-A ufw-before-output -p 47 -j ACCEPT'/g /etc/ufw/before.rules

ufw enable

# A hack to enable GRE tunnel established to TESTSJC20 gateway server
/sbin/iptables -I INPUT --protocol 47 -j ACCEPT -s 184.105.140.178/32
