#!/bin/bash

#
# This file is managed by Rev Puppet service as described on Wiki
# page https://revwiki.atlassian.net/wiki/display/OP/Puppet+Centralized+Configuration+Management+System
# Please don't modify the file on the Puppet client server since your changes will be overwritten on the next
# Puppet agent run on the server.
#

#
# UFW configuration rules for BP/CO proxy servers
#


UFW=/usr/sbin/ufw

if [ ! -x $UFW ]; then
	echo "FATAL: Cannot find UFW utility at $UFW - aboring."
	exit 1
fi

ufw disable

# exit 0

ufw reset

ufw logging off

ufw default deny incoming

ufw default allow outgoing

# Allow SSH access from MONITOR servers (for SSH monitoring)
{% for server in server_list -%}
{% if server.type == "MONITOR" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 22
{% endif -%}
{% endfor %}
# Allow SSH access from MANAGER servers
{% for server in server_list -%}
{% if server.type == "MANAGER" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 22
{% endif -%}
{% endfor %}

# Allow SSH from the DEV environment for software deployment
ufw allow proto tcp from 184.105.140.178/32 to any port 22

# Allow SSH access from home IPs of Rev admins
{% for server in server_list -%}
{% if server.type == "HOMEIP" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 22
{% endif -%}
{% endfor %}

# Allow NRPE port only from monitoring servers
{% for server in server_list -%}
{% if server.type == "MONITOR" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 5666
{% endif -%}
{% endfor %}

# Allow SNMP port only from monitor servers
{% for server in server_list -%}
{% if server.type == "MONITOR" -%}
# Allow from {{ server.name }}
ufw allow proto udp from {{ server.IP }}/32 to any port 161
{% endif -%}
{% endfor %}

# Allow 161/TCP for socat SNMP tunneling from monitor servers
{% for server in server_list -%}
{% if server.type == "MONITOR" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 161
{% endif -%}
{% endfor %}


# Allow HTTP and HTTPS ports from everywhere
ufw allow 80/tcp
ufw allow 443/tcp
# Allow QUIC port 443/UDP
ufw allow 443/udp

# Allow configuration and purge management requests from PORTAL and API servers
{% for server in server_list -%}
{% if server.type == "PORTAL" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 8000:8002
{% endif -%}
{% endfor %}
{% for server in server_list -%}
{% if server.type == "API" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 8000:8002
{% endif -%}
{% endfor %}
{% for server in server_list -%}
{% if server.type == "CDS" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 8000:8002
{% endif -%}
{% endfor %}

# Allow CO ports
ufw allow 18000:18010/tcp
ufw allow 19000:19010/tcp

# Allow 9300/TCP from production ElasticSearch servers
{% for server in server_list -%}
{% if server.type == "ES" -%}
# Allow from {{ server.name }}
ufw allow proto tcp from {{ server.IP }}/32 to any port 9300
{% endif -%}
{% endfor %}

ufw enable

/sbin/sysctl -w net.netfilter.nf_conntrack_tcp_be_liberal=1
